@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');


.connexion{
    display: flex;
justify-content: flex-end;
}

.bg-nouveau{
    background-color: #104E82;
}

.navig{
    color: white;
}

.navig:hover{
    font-weight: bold;
    color: #fdcc1e;
}

.navig:focus{
    color: white;
    font-weight: bold;
}

.connexion>li{
    list-style: none;
    margin: 15px;
}

.nav-end{
    display: flex;
    align-items: center;
}

.search{
    margin: 2%;
}

.search-button:hover{
    background-color: #146E65;
}
ul.footer{
    margin-top: 40px;
}

.pagination{
    margin-top: 30px; ;
    align-items: center;
  }

footer{
    background-color: #69C3C6;
    color: #ffffff;
    position: relative;
    bottom: 0;
    margin-top:100px;
}
footer.nav-link{
    color: #ffffff !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 0 !important;
  }


  .logo-nav:hover{
    scale: 1.1;
      }
    
      .logo-footer{
        -webkit-transition:-webkit-transform .9s; 
        -moz-transition:-moz-transform .9s;       
        -o-transition:-o-transform .9s;           
        -ms-transition:-ms-transform .9s;        
        transition:transform .9s;
      }
      .logo-footer:hover{
        -webkit-transform:rotate(360deg); 
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg); 
      -ms-transform:rotate(360deg); 
      transform:rotate(360deg);
      }
    

  /* PARTIE AGENDA */

  video {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 20px;
}

.texte-descriptif {
    padding: 60px 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.texte-descriptif-mentions{
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1{
    font-family: 'Rampart One', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 7vw !important;
    color: #146E65;
    margin: 60px 0 !important;
  }


.btn-color {
    background-color:#146E65;
    color: white;
    text-align: center;
    margin: 30px;
}

.btn-color:hover {
    background-color:#fdcc1e;
    color: white;
}


.trier-filtrer{

    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin: 20px;


}


.inscription-evenement {

    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;


}

.col-sm-12 col-md-6 col-lg-6 {
    display: block;
    justify-content: space-between;
}

.card {

    margin: auto;
    margin-bottom: 1rem;
}

.col1-tab {

    font-weight: bold;

}

.table-responsive {
    border: 3px solid #104E82;
    border-radius: 20px;

}

td {
    padding: 10px;
    text-align: center;
}

p.card-text,
td,
td.col1-tab,
h3,
.btn-color,.mentions-legales,.dropdown-item,.nav-link,h5,button.dropdown{

    font-family: 'Roboto', sans-serif;
}

.h3_agenda, h3{
    margin: 20px 0;
    text-align: center;
   }

/* PARTIE EVENEMENTS*/



.date-card{
   
    width:200px;
    padding:10px;
    display:flex;
    align-items:center;
  }
  
  .date-card .day{
    font-size:55px;
    margin:0px 10px;
    color:#69C3C6;
  }
  
  .date-card .month{
    font-weight:bold;
    font-size: 28px;
  }
  .year{
    font-size: 20px;
  }

  .card-text.telephone, .card-text.adresse, .card-text.evenement{
    text-align: center;
  }

  .btn-evenement{
    margin: auto;
    background-color: #146E65;
  }
  .btn-evenement:hover{
    
    background-color: #f0802b;
  }

  .card-header,.card-body{
    font-family: 'Roboto', sans-serif;
  }



/* PARTIE A PROPOS*/

  
 img.logo {
    display: block;
    margin: 90px auto;
    width: 60%;
}

img.a_propos{
    margin-top: 80px;
}

div.a_propos{
background-color:#f8cbdf85;
}


.paragraphe{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* PARTIE CONTACT*/

img.logo-contact{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 25%;
}

.h2_contact{
    text-align: center;
    font-family: 'Rampart One',cursive;
    text-transform: uppercase;
    color:#146E65;
    font-size: 2.5vw;
}

.formContact{
    background-color:rgb(244, 244, 244);
    padding: 20px;
    border-radius: 10px;
}

.btn-form{
    margin-top: 60px;
    background-color: #146E65;
}

.btn-form:hover{
    background-color:#F8CBDF ;
}

/*PARTIE RESTAURANT*/


.h1-banniere{
font-weight:600;
padding: 80px 0;
font-size: 7vw !important;
background-color: #ffffff99;

}

.a_grid{
text-decoration: none;
color: #146E65;
}

.btn-resto{
    margin-top: 30%;
    background-color: #146E65;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1vw;
    
}


/*Mentions legales*/

.texte-mentions{
    color:#104E82;
}

.texte-mentions>h3{
    color:#146E65;
}

/*bs-surcharge*/
.container {
    margin-bottom: 100px;
}
.btn:hover{
background: #FDCC1E;
}

/*Culture*/
.lien{
    text-decoration: none;
    color: #FDCC1E;
}

.lien:hover{
    color: #F0802B;
}

.art-cult{
    align-items: center;
}
.card{
    margin: 30px 0;
  
}
.img-fluid{
    width: 80%;
}
h5.card-title{
    font-weight: bold;
    font-family: 'Poppins';
}
.card-culture{
    border-color:#146E65;
    border-width: 3px;
    margin-bottom: 4em !important;
}

.container_culture{
  margin: 50px 0;
}

/*Categories*/
.chiffres{
    font-family: 'Rampart One', cursive;
    font-size: 24px;
    color:#0d0d0d ;
}

.chiffre1:hover{
    color: #fdcc1e;
    scale: 1.4;
}
.chiffre2:hover{
    color: #F0802B;
    scale: 1.4;
}
.chiffre3:hover{
    color: #146E65;
    scale: 1.4;
}
.pagination{
    --bs-pagination-border-width: 0px;
    --bs-pagination-hover-bg: none;
    --bs-pagination-hover-border-color: none;
}

/*Accueil*/

.text-accueil {
    margin: 60px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;

  }
  
  button.btn-carousel {
    margin: 20px 0;
    background-color: #146E65;
    color: #ffffff;
  }

  
  .custom-carousel .img-fluid {
    width: unset !important;
    height: 600px !important;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hover-box {
    position: relative;
    overflow: hidden;
  }
  
  .hover-box *,
  .hover-box:before,
  .hover-box:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .hover-box:before,
  .hover-box:after {
    position: absolute;
    top: 20px;
    right: 20px;
    content: '';
    background-color: #fff;
    z-index: 1;
    opacity: 0;
  }
  
  .hover-box:before {
    width: 0;
    height: 1px;
  }
  
  .hover-box:after {
    height: 0;
    width: 1px;
  }
  
  .hover-box figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px 20px;
  }
  
  .hover-box h3,
  .hover-box h4 {
    margin: 0;
    font-size: 1.1em;
    font-weight: normal;
    opacity: 0;
  }
  
  .hover-box h4 {
    font-size: .8em;
    text-transform: uppercase;
  }
  
  .hover-box a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .hover-box:hover img,
  .hover-box.hover img {
    zoom: 1;
    filter: alpha(opacity=20);
    -webkit-opacity: 0.2;
    opacity: 0.2;
  }
  
  .hover-box:hover:before,
  .hover-box.hover:before,
  .hover-box:hover:after,
  .hover-box.hover:after {
    opacity: 1;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
  }
  
  .hover-box:hover:before,
  .hover-box.hover:before {
    width: 40px;
  }
  
  .hover-box:hover:after,
  .hover-box.hover:after {
    height: 40px;
  }
  
  .hover-box:hover h3,
  .hover-box.hover h3,
  .hover-box:hover h4,
  .hover-box.hover h4 {
    opacity: 1;
  }
  
  .hover-box:hover h3,
  .hover-box.hover h3 {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  .hover-box:hover h4,
  .hover-box.hover h4 {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
  }
  
  .bg-accueil {
    background-color: #69C3C6;
  
  }
  
  div.video {
    margin: 100px 0;
  }
  
  .carousel-control-prev-icon{
    background-image: url("/public/images/Vectorflecheleft.png") !important;
  }
  .carousel-control-next-icon{
    background-image: url("/public/images/Vectorfleche.png") !important;
  }
  
  .carousel-indicators {
    border-radius: 50%;
    margin: 0 20px;
    width: 15px;
    height: 15px;
    background-color: none !important;
  }
  
  .boite-card {
    border-color: white !important;
  }
  
  div.d-flex {
    justify-content: center !important;
  }

  button.btn-vert:hover{
  background-color: #69C3C6;
  border-color: #69C3C6;
  }
  
  button.btn-rose:hover{
    background-color: #F8CBDF;
    border-color: #F8CBDF;
    }
    
  button.btn-jaune:hover{
    background-color: #FDCC1E;
    border-color: #FDCC1E;
    }
  button.btn-orange:hover{
    background-color: #F0802B;
    border-color: #F0802B;
    }
   
    .dropdown{
      background: none !important;
      border: none !important;
    }

    a.navig{
      color: #ffffff;
    }
    a.navig:hover,button.dropdown:hover{
      color:#FDCC1E !important;
    }
    

    /*Admin*/

    button.navigAdmin, a.navigAdmin{
      color: #0d0d0d;
      text-decoration: none;
    }

    button.navigAdmin:hover, a.navigAdmin:hover{
      font-weight: bold;
      color: #0d0d0d;
    }

    .boutons-admin{
      display: flex;
      flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    }
    .boutons-admin>button,.boutons-admin>a {
     color: #ffffff !important;
    
    }

    